<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a [routerLink]="['home']" class="nav-link">MovieMania</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['home']" class="nav-link">Home</a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a [routerLink]="['movies']" class="nav-link">Movies</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['addMovie']" class="nav-link">Add new movie</a>
        </li>

    </ul>





</nav>

<div class="row divIMG">
    <div class="col">
        <img width="100%" src="assets/images/navimg.jpg" alt="">
    </div>
</div>
<br>
